RewriteEngine on^
^
RewriteCond %{HTTP_HOST} ^admin.splus-int.com$^
RewriteCond %{REQUEST_URI} !repro/www/^
RewriteRule (.*) /repro/www/$1 [L]^
^
RewriteCond %{HTTP_HOST} ^splus-int.com$ [NC,OR]^
RewriteCond %{HTTP_HOST} ^www.splus-int.com$^
RewriteCond %{REQUEST_URI} !splus-int.com/www/^
RewriteRule (.*) /splus-int.com/www/$1 [L]^
^
RewriteRule splus-int.com/www/main/$ /index.php?page_alias=welcome
RewriteRule splus-int.com/www/main/([0-9]+)/$ /index.php?page_alias=welcome&catalog_id=$1 [L,QSA]
RewriteRule splus-int.com/www/main/([0-9]+)/([0-9]+)/$ /index.php?page_alias=welcome&catalog_id=$1&category_id=$2 [L,QSA]
RewriteRule splus-int.com/www/main/([0-9]+)/([0-9]+)/([0-9]+)/$ /index.php?page_alias=welcome&catalog_id=$1&category_id=$2&object_id=$3 [L,QSA]

RewriteRule splus-int.com/www/events/$ /index.php?page_alias=events
RewriteRule splus-int.com/www/events/([0-9]+)/$ /index.php?page_alias=events&catalog_id=$1 [L,QSA]
RewriteRule splus-int.com/www/events/([0-9]+)/([0-9]+)/$ /index.php?page_alias=events&catalog_id=$1&category_id=$2 [L,QSA]
RewriteRule splus-int.com/www/events/([0-9]+)/([0-9]+)/([0-9]+)/$ /index.php?page_alias=eventsObject&catalog_id=$1&category_id=$2&object_id=$3 [L,QSA]

RewriteRule splus-int.com/www/shedule/$ /index.php?page_alias=shedule
RewriteRule splus-int.com/www/shedule/([0-9]+)/$ /index.php?page_alias=shedule&catalog_id=$1 [L,QSA]
RewriteRule splus-int.com/www/shedule/([0-9]+)/([0-9]+)/$ /index.php?page_alias=shedule&catalog_id=$1&category_id=$2 [L,QSA]
RewriteRule splus-int.com/www/shedule/([0-9]+)/([0-9]+)/([0-9]+)/$ /index.php?page_alias=sheduleObject&catalog_id=$1&category_id=$2&object_id=$3 [L,QSA]

RewriteRule splus-int.com/www/gallery/$ /index.php?page_alias=gallery
RewriteRule splus-int.com/www/gallery/([0-9]+)/([0-9]+)/$ /index.php?page_alias=galleryObjectList&catalog_id=$1&category_id=$2 [L,QSA]

Rewritecond %{REQUEST_FILENAME} !-d
Rewritecond %{REQUEST_FILENAME} !-f
RewriteRule splus-int.com/www/([^/.]*) /index.php?page_alias=$1 [NS,QSA]