RewriteEngine on

# Подключение админки на сабдамен
RewriteCond %{HTTP_HOST} ^admin.splus-int.com$
RewriteCond %{REQUEST_URI} !repro/www/
RewriteRule (.*) /repro/www/$1 [L]

# Вывод сайта из подпапки 
RewriteCond %{HTTP_HOST} ^splus-int.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.splus-int.com$
RewriteCond %{REQUEST_URI} !splus-int.com/www/
RewriteRule (.*) /splus-int.com/www/$1 [L]

# Пример использования специальных настроек для каталога
#RewriteRule splus-int.com/www/main/$ /index.php?page_alias=welcome
#RewriteRule splus-int.com/www/main/([0-9]+)/$ /index.php?page_alias=welcome&catalog_id=$1 [L,QSA]
#RewriteRule splus-int.com/www/main/([0-9]+)/([0-9]+)/$ /index.php?page_alias=welcome&catalog_id=$1&category_id=$2 [L,QSA]
#RewriteRule splus-int.com/www/main/([0-9]+)/([0-9]+)/([0-9]+)/$ /index.php?page_alias=welcome&catalog_id=$1&category_id=$2&object_id=$3 [L,QSA]

# Подключение многоязычности
RewriteRule splus-int.com/www/(ru|en|fr|es|de|fi|sv|no)/$ /index.php?lang=$1

# Проверка наличия файла или папки 
Rewritecond %{REQUEST_FILENAME} !-d
Rewritecond %{REQUEST_FILENAME} !-f